@import "~assets/scss/_variables.scss";

.footer {
   background: $white-ter;
   color: black;
   padding: 2rem 0;
  &.is_course{
    width: 75%
  }
 }
 .footer_logo{
    width: 190px;
    margin-bottom:10px;
 }
  .icon_a{
    color:#3d3d3d
  }

@media screen and (max-width: 1023px){
  .footer {
    &.is_course{
      width: 100%
    }
  }
}
